<div class="container">
  @if (store.screen() === 'start') {
  <app-start-screen />
  } @if (store.screen() === 'setup') {
  <app-setup-screen />
  } @if (store.screen() === 'builder') {
  <div>
    <app-army-header />

    <div class="builder-grid">
      <app-available-units />
      <app-army-panel />
    </div>

    <div
      style="
        text-align: center;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
      "
    >
      <button class="btn btn-secondary" (click)="store.exportArmy()">Exportar a PDF</button>
    </div>
  </div>
  }
</div>

<!-- Modal solo si hay unidad seleccionada -->
@if (store.selectedUnitForUpgrade()) {
<app-upgrade-modal />
}
